.App {
  display: grid;
  grid-template: repeat(4, 25%) / repeat(6, 1fr);
  height: 100vh;
}


.tile {
  padding: 10px;
  cursor: pointer;
  height: 100%;
  width: 100%;
}

.tile__content {
  padding: 5px;
  border: 1px dashed white;
  font-weight: 700;
  text-align: center;
  height: 100%;
  width: 100%;
}

.tile__pic {
  height: 100%;
  width: 100%;
}

.tile__content img {
  height: 90%;
}

.blocked {
  opacity: .05;
  cursor: default;
}
